### CypressIO ###
# gitignore template for the CypressIO, browser test framework
# website: https://www.cypress.io/

cypress/downloads/*
cypress/package-lock.json
cypress/node_modules/*
cypress/videos/*

# End of https://www.toptal.com/developers/gitignore/api/cypressio